@charset "utf-8"; 
@import url(common.css);


/*
-----------------------
common
-----------------------
*/
:root { 
	--green: #65B12D; 
	--purple: #7D35A8; 
	--info: #c3c3c3; 
	--danger: #E74D4D; 
	--black: #484848; 
	
}

html, body {height: 100%;}
body {background: var(--secondary);}
h2, h3 {padding-bottom: 1.25rem; font-family: 'S-CoreDream-4';}

/*
-----------------------
font
-----------------------
*/
@font-face {
	font-family: 'S-CoreDream-4';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-4Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

/*
-----------------------
fix
-----------------------
*/

/* header */
.header { position: fixed; top:0; width: 16.5rem; height: 100vh; background-color: var(--white); box-shadow:0.25rem 0.25rem 0.875rem rgba(0, 0, 0, 0.1); } 
.header .logo { text-align: center; padding: 2rem 2.5rem; }
.gnb .gnb_txt { display: block; font-size: 0.75rem; margin: 0; padding: 1.875rem 3.125rem 0.625rem; text-transform: uppercase; letter-spacing: 0.125rem } 
.gnb .gnb_txt:nth-child(1) {padding-top: 0;}
.gnb li { margin: 0 1.875rem; } 
.gnb li a { position: relative; display: block; padding:1.125rem 3.125rem; border-radius: 0.625rem; font-family: 'S-CoreDream-4'; font-size: 0.938rem;} 
.gnb li.active a { background: var(--primary); color: var(--white); } 
.gnb li a .icon { position: absolute; left: 1.25rem; top: 50%; transform: translateY(calc(-50% - 1px));  } 


/* util */
.util { row-gap: 0; padding-bottom: 0 !important;}
.util .row {justify-content: space-between;}
.util .search { display: flex; align-items: center; background-color: var(--white); border-radius: 0.625rem; padding: 0 0 0 1.875rem; height: 3.75rem; } 
.util .search input { border: 0; width: 100%; height: 100%; border-radius: 0.625rem; padding: 0.625rem 0.625rem 0.625rem 0.625rem; box-sizing: border-box; } 
.util .info  {grid-column: 4/5; background: transparent; box-shadow: none; display: flex; justify-content: space-between; padding: 0; } 
.util .info .bell, 
.util .info .profile{ background-color: var(--white); border-radius: 0.625rem; box-shadow:0.25rem 0.25rem 0.875rem rgba(0, 0, 0, 0.1); padding: 0.625rem; box-sizing: border-box; height: 3.75rem; } 
.util .info .bell {position: relative; width: 3.75rem; margin-right: 1.875rem; text-align: center; } 
.util .info .bell::after {content:"\f072"; font-family: "Font Awesome 5 Free";font-weight: 900; position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%);font-size: 1.25rem; } 
.util .profile .btn_m {right: 0.625rem;}

/* contents */
.contents {padding-left: 16.5rem;}
.contents h2{padding-bottom:0.875rem; }
.contents .row {display: flex;padding: 0 1.875rem;flex-wrap: wrap; margin: 1.875rem -0.938rem;}
.contents .row > * {flex: 0 0 25%; max-width: 25%; padding: 0 0.938rem;}
.contents .row .inner {background-color: var(--white); border-radius: 0.625rem; box-shadow:0.25rem 0.25rem 0.875rem rgba(0, 0, 0, 0.1); padding: 1.875rem; width:100%; height: 100%}
.contents .row .width50 {flex: 0 0 50%; max-width: 50%;}
.contents .row .width100 {flex: 0 0 100%; max-width: 100%;}

/* footer */
.footer { padding: 1.875rem 1.875rem 1.875rem 18.375rem; text-align: center; color: var(--gray); } 

/*
-----------------------
login page
-----------------------
*/
.adminLogin {display: flex;justify-content: center; align-items: center; width: 100%;height: 100%;}
.adminLogin .item{width: 22rem; padding: 3.125rem 1.875rem;}
.adminLogin .item h1 {width: 10rem; margin: 0 auto;margin-bottom: 1.875rem;}
.adminLogin .item .inputbox {margin: 0.938rem 0;}
.adminLogin .item .inputbox.submit {margin-top: 1.25rem; position: relative;}
.adminLogin .error_msg {color: var(--danger);padding-left: 0.625rem;}

/*
-----------------------
main page
-----------------------
*/




/* today-info */
.today_info_txt h2 {font-size: .875rem; padding-bottom:0.25rem ;}
.today_info_txt p {font-size: 1.25rem;font-weight: bold;}
.today_info_icon {display:block; width: 3.125rem; height: 3.125rem ; border-radius: 50%; color: var(--white); text-align: center;}
.today_info_icon i {line-height: 3.125rem; font-size: 1.25rem;}
.today_info:nth-of-type(1) .today_info_icon {background: var(--red)}
.today_info:nth-of-type(2) .today_info_icon {background: var(--purple)}
.today_info:nth-of-type(3) .today_info_icon {background: var(--green)}
.today_info:nth-of-type(4) .today_info_icon {background: var(--primary)}

/* popular_flight */
.popular_flight ul li a {display: flex;align-items: center;padding: 0.875rem 0;}
.popular_flight_img {width: 2.5rem; height: 2.5rem;margin-right:0.875rem;}
.popular_flight_info {width: 100%;}
.popular_flight_info span{font-size: 0.875rem; color: var(--gray);}


/* charts */
.graph_income .chartWrap,
.graph_reservation .chartWrap {min-height: 300px; margin-left: -5px; }
.state_flight .chartWrap {height: 260px}

/* recent_reservation */

.rate_reservation ul li {padding: 0.875rem 0;}


/*
-----------------------
sub page
-----------------------
*/

/* 비행일정 */
.popup form.flight_update,
.popup form.mail_update,
.popup form.flight_insert {display: block;}
.popup form.flight_update td input,
.popup form.flight_update td select,
.popup form.mail_update td input,
.popup form.mail_update td select,
.popup form.flight_insert td input,
.popup form.flight_insert td select {border: 1px solid var(--light); border-radius: 3px; padding: 5px; width: 100%}
.popup form.flight_view {display: block}
.popup form.flight_view .reser_table {margin-bottom: 0}

/* 예약현황 */

/* 회원정보 */

/* 회원등급 */
.create_grade {display: grid; grid-template-columns: repeat(2, 1fr); row-gap: 1.25rem; column-gap: 1.875rem; align-items: flex-end;}

/* 메일발송 */
.sand_mail_form {display: grid; grid-template-columns: repeat(2, 1fr); row-gap: 1.25rem; column-gap: 1.875rem;}
.sand_mail_form .inputbox:nth-child(3) {grid-column: 1/3;}
.sand_mail_form .textbox {grid-column: 1/3;}
.sand_mail_form .content_footer {grid-column: 1/3; text-align: center;padding-top: 1.25rem;}
.sand_mail_form .content_footer button:nth-child(1) {background: var(--light); margin-right:0.25rem ;}
.mail_body {min-height: 28rem}
.mail_body h1, .mail_body h2, .mail_body h3{font-size: 1.2rem; font-family: 'Noto Sans CJK KR'}
.mail_view .table {margin-bottom: 3.75rem !important}
.mail_view .table th,
.mail_update .table th {vertical-align: top}
.cke_chrome {grid-column: 1/3; border: 1px solid var(--light) !important; border-radius: 0.625rem}
.cke_top {background: var(--secondary)!important; border-bottom: 1px solid var(--light) !important;}


/* 메일발송 수정하기 모달 */
.rewrite .inputbox {padding-bottom: 1.875rem ;}
.rewrite .textbox textarea{height: 12.5rem;}


/* 게시물관리 */

/* 게시판설정 */
.board_blank {width: 800px; margin: 1.875rem auto; padding: 0 1.875rem;}
.board_blank .submit {text-align: center;padding: 2.5rem;}
.board_blank.board_notice .flex_content_footer {justify-content: flex-end;}

/* 회원상세 */
.customer_detail {height: 100%;}
.customer_detail .lnb ul { display: flex; } 
.customer_detail .lnb ul li a { display: block; padding: 1.25rem 3.125rem; border-radius: 0.625rem 0.625rem 0 0; } 
.customer_detail .lnb ul li.active a { background: var(--white); } 
.customer_detail .inner{ max-width: 900px; margin: 0 auto; } 
.customer_detail .customer_header { width: 100%; display: flex; justify-content: space-between}
.customer_detail .customer_header .profile { flex-grow: 0; } 
.customer_detail .customer_contents { background-color: var(--white); min-height:100%} 
.customer_detail .customer_content {padding: 1.875rem 0 ;}
.customer_detail .search_detail {grid-template-columns: repeat(3, 1fr)}
.customer_detail .flight_info {position: relative;;display: flex; justify-content: space-between; text-align: center; margin-right: 1.5rem; margin-left: 0;}
.customer_detail .flight_info span {display: block; font-size: 1.25rem; font-weight: bold;}
.customer_detail .flight_info .direction {position: absolute; width: 5.625rem; height: 1px; background: #000; top: 50%; left: 50%; transform: translate(-50%, -50%);}
.customer_detail .flight_info .direction::before {content:''; position: absolute; width: 0.313rem; height: 0.313rem; background: #000; display: block; transform: translate(-50% , -50%); top: 50%; left: 0; border-radius: 50%;} 
.customer_detail .flight_info .direction::after {content:''; position: absolute; width: 0.313rem; height: 0.313rem; background: #000; display: block; transform: translate(50% , -50%); top: 50%; right: 0; border-radius: 50%;} 
.customer_detail .customer_content .inputbox.submit {grid-column: 3/4}
.customer_detail .customer_contents .flex_content_footer {justify-content: flex-end;}

/* 
---------------------------
컴포넌트
---------------------------
*/

/* 그리드 */
.grid { padding: 1.875rem; display: grid; grid-template-columns: repeat(4, 1fr); row-gap: 1.875rem; column-gap: 1.875rem; } 
.item { background-color: var(--white); border-radius: 0.625rem; box-shadow:0.25rem 0.25rem 0.875rem rgba(0, 0, 0, 0.1); padding: 1.875rem; box-sizing: border-box;} 
.item.fullwidth { grid-column: 1/ 5; } 

/* 플렉서블박스 */

/* 프로필 */
.profile { position: relative; flex-grow: 1; display: flex; align-items: center; font-size: 0.875rem } 
.profile .profile_img { width: 2.5rem; height: 2.5rem; overflow: hidden; border-radius:0.25rem ; margin-right: 0.625rem; } 
.profile p span { display: block; font-size: 0.75rem; color: var(--gray); } 

/* 컨텐츠 헤더, 푸터 부분  flex-space-between */
.flex_content_header { display: flex; justify-content: space-between; align-items: center; margin-bottom: 1.25rem; } 
.flex_content_header h2 {padding: 0rem;}
.flex_content_header .btn.btn.primary {margin-left: 1.25rem;}
.flex_content_header .action { display: flex; justify-content: space-between; align-items: flex-start; } 
.flex_content_footer {display: flex; justify-content: space-between; align-items: flex-start; padding-top: 1.875rem;}

/* 좌우양끝정렬 */
.flex_space_between {display: flex; justify-content: space-between; gap: 1.875rem;}

/* 기본테이블 */
.table { width: 100%; text-align: left; border-collapse: collapse; border-radius: 0.625rem; border-style: hidden; box-shadow: 0 0 0 1px var(--light); } 
.table a {text-decoration: underline;}
.table th { background: var(--secondary); } 
.table tr { border: 1px solid var(--light); } 
.table th, .table td { padding:0.875rem 1.875rem;} 
.table .tableEmpty {text-align: center}

/* 리스트 네비게이션 */
.navi { text-align: right; display: flex;} 
.navi a {position: relative; display:block; width: 1.875rem; height: 1.875rem; text-align: center; line-height: 1.6rem; border: 1px solid var(--light); border-radius: 0.625rem; font-weight: bold; margin-left: 0.313rem;} 
.navi a.active { border-color: var(--primary); background: var(--primary); color: var(--white); } 
.navi a.prev::after {font-family: "Font Awesome 5 Free";font-weight: 900; content: "\f053"; position: absolute;;left: 50%; transform: translate(calc(-50% - 1px),0) ;line-height: 1.875rem;}
.navi a.next::after {font-family: "Font Awesome 5 Free";font-weight: 900; content: "\f054"; position: absolute;;left: 50%; transform: translate(calc(-50% - 1px),0) ;line-height: 1.875rem;}

/* 기본버튼 */
.btn { border-radius: 0.625rem; padding: 0.5rem 0; width: 120px; cursor: pointer;} 
.btn.primary { background: var(--primary); color: var(--white); } 
.btn.danger { background: transparent; border: 1px solid var(--danger); color: var(--danger); } 
.btn.action { display: block; width: 0.25rem; height: 1.25rem; padding: 0 0.625rem; } 

/* 작은버튼 */
.btn_s {border-radius:0.25rem ; display: flex; justify-content: space-around;align-items: center; cursor: pointer;} 
.btn_s .icon {font-size: .75rem; padding-left: 0.625rem;}
.btn_s.status { padding: 0.125rem 1.5rem; background: rgba(101, 177, 45, 0.2); color: var(--green); } 
.btn_s.status_wait { background: rgba(141, 141, 141, 0.2); color: var(--gray); } 
.btn_s.status_cancle { background: rgba(216, 0, 39, 0.2); color: var(--red); } 
.btn_s.status_flight { background: rgba(0, 99, 212, 0.2); color: var(--primary); } 
.btn_s.status_arrive { background: rgba(101, 177, 45, 0.2); color: var(--green); } 
.btn_s.more {border: 1px solid var(--light); padding:0.25rem  0.625rem; display: inline-block;} 
.btn_s.dropdown {padding: 0.625rem; width: auto; border: none;} 

/* ... 버튼 */
td.more{padding:0 1.875rem;}
.btn_m {position: absolute; padding: 1rem; cursor: pointer; top: 50%; transform: translateY(-50%);}
.btn_m:hover {box-shadow:0.25rem 0.25rem 0.875rem rgba(0, 0, 0, 0.1);}
.btn_m span {display:block;width: 3px; height: 3px; background: var(--info); border-radius: 50%; }
.btn_m span::before {content:'';display:block;position: absolute; top: 50%; transform: translateY(calc(-50% + 6px)); width: 3px; height: 3px; background: var(--info); border-radius: 50%;}
.btn_m span::after {content:'';display:block;position: absolute; top: 50% ; transform: translateY(calc(-50% - 6px)); width: 3px; height: 3px; background: var(--info); border-radius: 50%;}
.btn_m_wrap {position: relative;  width: 31px; height: 31px}
.btn_m_wrap .select_list {display: none; box-shadow:0.25rem 0.25rem 0.875rem rgba(0, 0, 0, 0.1); position: absolute; z-index: 999;right: 0; bottom: 0; border: 1px solid var(--light); text-align: center; transform: translateY(100%); background: #fff; border-radius: 3px; width: 120px;}
.btn_m_wrap .select_list li {border-bottom: 1px solid var(--light);}
.btn_m_wrap .select_list li:last-child {border-bottom: 1px solid var(--light);}
.btn_m_wrap .select_list li a {display: block; padding: 0.625rem 1.875rem; text-decoration: none;}
.btn_m_wrap .select_list li a:hover {background: var(--secondary);}
.btn_m_wrap.active .select_list{display: block}

/* 상세검색 */
.search_detail {display:none; align-items: flex-end; grid-template-columns: repeat(4, 1fr); column-gap: 1.875rem; row-gap: 0.875rem; background: var(--secondary); padding: 1.875rem; border-radius: 0.625rem; margin-bottom: 1.875rem; } 
.search_detail.active {display: grid; }
.search_detail .inputbox { display: grid;}
.search_detail .inputbox.submit {grid-column: 4/5;}


/* 인풋박스 */

.inputbox_title { margin-bottom: 0.625rem; } 
.inputbox_input { position: relative; } 
.inputbox_input input, .inputbox_input select { padding:0.875rem;; border-radius: 0.625rem; border: 1px solid var(--light); width: 100%; box-sizing: border-box; } 
.inputbox input::placeholder {color: var(--info);}
.inputbox.icon .inputbox_input input {padding-left: 3.125rem}
.inputbox_icon { position: absolute; top: 50%; left: 1.25rem; transform: translateY(-50%); color: var(--info); font-size: .875rem; } 
.inputbox.term .inputbox_input::after { display: block; content: ''; width:0.25rem ; height: 1px; background: var(--gray); position: absolute; right: 0; top: 50%; transform: translate(calc(50% + 0.875rem), -50%); } 
.inputbox.submit input {width: 100%;}

.selectbox{position: relative;}
.selectbox select { padding:0.875rem 1.25rem; appearance: none; position: relative;} 
.selectbox::after{font-family: "Font Awesome 5 Free";display:inline-block; font-weight: 900; content: "\f078";position: absolute; top: 50%; right: 1.25rem; transform: translateY(-50%); color: var(--info); font-size: .875rem; pointer-events: none;}

.submit input { background: var(--primary); color: var(--white); padding:0.875rem 3.125rem; cursor: pointer; border: 0px ; border-radius: 0.625rem;} 
.checkbox input{vertical-align: -1px;}

/* textarea */
.textbox textarea {width: 100%; height: 22.5rem; border: 1px solid var(--light);resize: none; border-radius: 0.625rem;padding:0.875rem; box-sizing: border-box;}

/* 프로그래스바 */
.progress {background-color: var(--light); height: 0.5rem; width: 100%; border-radius: 0.625rem; margin-top:0.25rem ;}
.progress_bar {background: var(--primary); width: 60%; height: 100%; border-radius: 0.625rem;}

/* 모달 */
.modal {position: fixed; width: 100%; height: 100%;left: 0; top: 0; display: none;}
.modal .bg_black {position: absolute;left: 0; top: 0; width: 100%; height: 100%;background-color: rgba(0, 0, 0, .5);}
.modal_wrap {position: absolute; z-index: 99;left: 50%; top: 50%; transform: translate(-50%, -50%); justify-content: center; align-items: center; width: 48.875rem; min-height: 21.875rem; background-color: #fff;border-radius: 0.625rem; padding: 1.875rem; box-sizing: border-box;}
.modal_wrap h2 {padding-bottom: 1.875rem;}
.modal_wrap form{display: grid; grid-template-columns: repeat(2, 1fr); row-gap: 1.875rem; column-gap: 1.875rem;}
.modal_wrap form .width100 {grid-column: 1/3;}
.modal_wrap .submit {grid-column: 1/3; margin: 1.5rem auto;text-align: center}
.modal_wrap .close {position: absolute; top: 1.875rem; right: 1.875rem; cursor: pointer;}

/* 팝업 */
.popup {width: 100%; background: #fff; padding: 1.875rem;}
.popup h2 {padding-bottom: 1.875rem;}
.popup h3 {padding: 0.625rem 0}
.popup .table {margin-bottom: 1.875rem }
.popup form {display: grid; grid-template-columns: repeat(2, 1fr); row-gap: 1.875rem; column-gap: 1.875rem; align-items: flex-end;}
.popup form .width100 {grid-column: 1/3;}
.popup .inputbox  {padding:0}
.popup .inputbox input{padding:0.875rem;}
.popup .textbox textarea {height:12rem}
.popup .submit {grid-column: 1/3; margin: 1.6rem auto; text-align: center}
.popup.gradeListUpdate form{grid-template-columns: repeat(1, 1fr);}
	

@media(max-width:1540px){
	html {font-size: 14px;}
}

