@charset "utf-8";



:root {
    --primary: #0063D4;
    --secondary: #F5F6FA;
    --warning: #ffc107;
    --red: #D80027;
    --black: #000000;
	  --white: #ffffff; 
    --dark: #151517;
	  --danger: #E74D4D; 
    --darkgray: #222224;
	  --gray: #8D8D8D;
	  --light: #EDEFF6; 
	  --lightgray : #c1c1c1;
}

/* 여백 초기화 */
body {
	overflow-x: hidden;
	position: relative;
}

body,
div,
ul,
li,
dl,
dd,
dt,
ol,
h1,
h2,
h3,
h4,
h5,
h6,
input,
fieldset,
legend,
p,
select,
table,
th,
td,
tr,
textarea,
button,
form,
figure,
figcaption {
	margin: 0;
	padding: 0;
}

/* a 링크 초기화 */
a {
	color: var(--black);
	text-decoration: none;
	outline: none;
}

textarea,
input {
	outline: none;
}

a:hover {
	color: var(--black);
}

/* 폰트 초기화 */
html {
	font-size: 16px;
}
body,
input,
textarea,
select,
button,
table {
	font-family: 'Noto Sans CJK KR';
	color: var(--black);
	font-size: 1rem;
}

/* 폰트 스타일 초기화 */
em,
address {
	font-style: normal;
}

/* 블릿기호 초기화 */
ul,
li,
ol {
	list-style: none;
}

/* 제목 태그 초기화 */
h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: 1rem;
	font-weight: normal;
}

/* 테두리 초기화 */
img,
fieldset {
	border: 0 none;
}

/* 버튼 초기화 */
button {
	border: 0;
	background-color: transparent;
}

/* 반응형 */
video,
img {
	width: 100%;
}


/* 
---------------------
컴포넌트
---------------------
*/