@charset "utf-8";@import url(common.css);

/*
-----------------------
layout
-----------------------
*/
.inner {width: 1280px; margin: 0 auto;}
.main_content {margin: 6.25rem 0; }
.content {margin: 3.75rem auto 6.25rem}


/*
-----------------------
header
-----------------------
*/
.util {text-align: right;border-bottom: 1px solid var(--secondary);}
.util ul li {display: inline-block;padding: 0.625rem 0 0.625rem 3.125rem;}
.util ul li a {font-size: .875rem;}

.header {position: relative;box-shadow: 0 0.625rem 0.625rem rgba(0, 0, 0, .03); z-index: 99;}
.header .inner { display: flex; justify-content: space-between; align-items: center; }

.gnb>li{display: inline-block;}
.gnb>li.over .gnb_cont{ display: block;}
.gnb>li:hover .gnb_cont{display: block;}
.gnb>li>a {display: block; padding: 1.5rem 3.125rem; font-size: 1.125rem;font-weight: bold;}
.gnb_cont {position: absolute; left: 0; top: 100%;padding: 1.875rem 0 2.5rem; width: 100%; display: none; background: #fff; box-shadow: 0 0.625rem 0.625rem rgba(0, 0, 0, .03); border-top: 1px solid var(--secondary);}
.gnb_dep2{display: flex; justify-content: space-between; width: 100%;}
.gnb_dep2>li>a {display: block; font-weight: bold; margin-bottom : 0.625rem;}
.gnb_dep3>li>a {display: block; margin-bottom: 0.313rem;}   


/*
-----------------------
main
-----------------------
*/
.main_visual {width: 100%; height: 40rem; position: relative; overflow: hidden;}
.main_visual .main_slider .main_title{position: absolute;top: 6.25rem;font-size: 1.75rem; font-weight: bold;}
.main_visual .main_slider .main_more{position: absolute;top: 12.5rem; text-decoration: underline; font-size: 1.25rem;}
.main_visual .main_slider .controller{position: absolute; top: 18rem; width: 100%;}
.main_visual .main_slider .controller .swiper-button-next{left: 4.375rem;}
.main_visual .main_slider .controller .swiper-button-prev{left: 0;}
.main_visual .main_slider .controller .inner{position: relative;}

.quick_reservation {position: absolute; bottom: 5rem;z-index: 9;width: 100%;}
.quick_reservation .inner {display: flex;flex-wrap: wrap; background: #fff; border-radius: 0.313rem;padding: 0.938rem; box-sizing: border-box;}
.quick_reservation .inner > div {width: 25%;padding: 0.938rem;box-sizing: border-box;}
.quick_reservation .title {font-size: 0.875rem; color: var(--gray);padding-bottom: 0.625rem;}
.quick_reservation .trip_type label{margin-right: 0.625rem;}
.quick_reservation .trip_type input{margin: 0.938rem 0.313rem;}
.quick_reservation .passenger_type {display: flex; gap: 0.625rem;}
.quick_reservation .passenger_type > div {width: calc(100% / 3);}
.quick_reservation .submit {align-self: flex-end;}

.popular_flight {position: relative;}
.popular_flight .inner{position: relative;}
.popular_flight .popular_slider {overflow: visible; overflow-x: hidden;}
.popular_flight .popular_slider .desc {position: absolute;left: 0; bottom: 0; background: rgba(255, 255, 255, .7);width: 100%; padding: 1.25rem; font-weight: bold;}
.popular_flight .popular_slider .desc .location {font-size: 1.25rem; }
.popular_flight .popular_slider .desc .seat {padding: 0.313rem 0;}
.popular_flight .popular_slider .desc .price {color: var(--primary); font-size: 1.25rem; }
.popular_flight .swiper-button-next {right: 0; top: 1.25rem;}
.popular_flight .swiper-button-prev {left:auto; right: 2.5rem; top: 1.25rem;}

.covid .covid_center {display: block; padding: 3.75rem 1.875rem; color: #fff; ;background: url(../images/main/main_covid.png);}
.covid .covid_center p {font-size: 1.25rem; font-weight: bold;padding-bottom: 0.625rem;}

.service {background: var(--light);padding: 3.75rem 0;}
.service_list {display: flex; background: #fff;}
.service_list li {width: 20%;border: 1px solid var(--secondary);}
.service_list li a {position: relative; display: block; padding: 3.75rem 1.875rem 1.875rem; text-align: center; font-weight: bold;}
.service_list li a .icon{position: absolute; top: 1.875rem;left: 50%; transform: translateX(-50%);}



/*
-----------------------
login
-----------------------
*/

.login {width: 25rem;min-height: 31.25rem; margin: 3.75rem auto;}
.login .tab_contents input {margin-bottom: 1.25rem;}
.login .login_info {text-align: center;}
.login .login_info li{display: inline-block; margin: 0 0.313rem; font-size: 0.875rem;}
.login .sns_login {text-align: center;}
.login .sns_login li {display: inline-block;}
.login .sns_login li a {display: block;}
.login .sns_login li a {text-indent: -9999px; background-repeat:  no-repeat;background-position: center center; background-size: cover; width: 2.5rem; height: 2.5rem;margin: 1.875rem 0.625rem;}
.login .sns_login li a#kakao {background-image: url(../images/common/ico-kakao.svg)}
.login .sns_login li a#naver {background-image: url(../images/common/ico-naver.svg)}
.login .sns_login li a#google {background-image: url(../images/common/ico-google.svg)}


/*
-----------------------
book
-----------------------
*/
/* 비행기예약폼 */
.bookFlightForm .row {display: flex; gap: 1.875rem; margin: 3.75rem 0 0;}
.bookFlightForm .row > div {width: calc(100%/3);}
.bookFlightForm .submit {width: 7.5rem; margin:  6.25rem auto 0;}

/* 주간리스트 */
.weekList {position: relative; ;display: flex; text-align: center;padding: 0 3.125rem;}
.weekList li {width: calc(100%/7); border: 1px solid var(--light);}
.weekList li.navigation {position: absolute; width: 3.125rem; height: 100%;}
.weekList li.navigation.prev {left: 0; }
.weekList li.navigation.next {right: 0; }
.weekList li.navigation a {padding: 0; height: 100%;display: flex; flex-direction: column; justify-content: center;}
.weekList li a{display: block; padding: 1.875rem; background: var(--secondary);}
.weekList li a span {display: block; font-style: 0.875rem;}
.weekList li.active a{background: var(--primary); color: #fff; font-size: bold;}

/* 항공권리스트 */
.flight_list { margin: 3.75rem 0;}
.flight_list > li {display: flex; justify-content: space-between; align-items: center; text-align: center;border-top: 1px solid var(--light); border-bottom: 1px solid var(--light);}
.flight_list li .flight_info {position: relative;;display: flex; width: 40%; justify-content: space-around;}
.flight_list li .flight_info span {display: block; font-size: 1.25rem; font-weight: bold;}
.flight_list li .flight_info .direction {position: absolute; width: 5.625rem; height: 1px; background: #000; top: 50%; left: 50%; transform: translate(-50%, -50%);}
.flight_list li .flight_info .direction::before {content:''; position: absolute; width: 0.313rem; height: 0.313rem; background: #000; display: block; transform: translate(-50% , -50%); top: 50%; left: 0; border-radius: 50%;} 
.flight_list li .flight_info .direction::after {content:''; position: absolute; width: 0.313rem; height: 0.313rem; background: #000; display: block; transform: translate(50% , -50%); top: 50%; right: 0; border-radius: 50%;} 
.flight_contents {display: flex;}
.flight_contents li.active  a{background: var(--primary); color: #fff;}
.flight_contents li a{display: block; padding: 2.5rem 3.75rem;}
.flight_contents li a span {display: block; font-size: 1.25rem;}
.flight_payment_wrap {text-align: center; margin-top: 3.75rem}
.flight_payment_wrap .btn_primary {margin: 3.75rem 0; }
.flight_payment {display: flex; justify-content: space-between; padding: 1.875rem; background: var(--secondary); font-size: 1.25rem;}
.flight_payment .price {font-weight: bold;}

.book_done .title_box {text-align: center;}
.book_done .title_box p {color: var(--gray);}
.book_done .title_box .title{font-size: 1.5rem; font-weight: bold; color: #000; padding-bottom: 0.625rem;}
.book_done .btn_wrap {text-align: center; padding: 3.75rem 0}
.book_done .btn_wrap .light{margin-right: 0.625rem;}


/*
-----------------------
airport
-----------------------
*/

/* 운송제한물품 */
.restricted_list {display: flex; gap: 1.875rem }
.restricted_list li {position: relative; width: calc(100%/3); text-align: center; border: 1px solid var(--light); padding: 1.875rem 3.75rem; box-sizing: border-box;}
.restricted_list li::after {content:""; width: 2.5rem; height:2.5rem; top:1.875rem ;left: 50%; transform: translateX(-50%);background-repeat: no-repeat; background-size: contain; position: absolute;}
.restricted_list li:nth-child(1)::after {background-image: url(../images/sub/ico_baggageRestricted1.png);}
.restricted_list li:nth-child(2)::after {background-image: url(../images/sub/ico_baggageRestricted2.png);}
.restricted_list li:nth-child(3)::after {background-image: url(../images/sub/ico_baggageRestricted3.png);}
.restricted_list li .title {font-weight: bold; padding-bottom: 0.75rem; padding-top: 3.75rem;}
.restricted_list li .desc {font-size: 0.85rem;}

/* 위탁수화물 */
.baggage_checked.tab_menu .tab_label {width: 25%;}

/* 클래스별서비스 & 기내식 */
.seat_class .tab_menu .tab_label {width: calc(100% / 3);}
.seat_class .class_service_list li{display: flex; align-items: center;margin:  0 0 3.75rem;}
.seat_class .class_service_list li .img {width: 45%;}
.seat_class .class_service_list li .desc {padding: 1.875rem 3.125rem; width: 55%;}
.seat_class .class_service_list li .desc .title {font-weight: bold; font-size: 1.125rem; padding-bottom: 0.625rem;}
.seat_class .tab_menu .tab_contents > div {padding: 3.75rem 0}
.flight_meals h3 {padding-top: 0}

/* 항공기안내 */
.aircraft_list>li {display: flex; align-items: center; border: 1px solid var(--light); margin-bottom: 3.75rem;}
.aircraft_list li .img{width: 50%;}
.aircraft_list li .desc{width: 50%; padding: 3.125rem; }
.aircraft_list li .desc .title {font-size: 1.25rem; font-weight: bold;}
.aircraft_list li .desc .text {padding: 0.625rem 0 1.25rem}
.aircraft_list li .desc .info {display: flex; justify-content: space-between; color: var(--gray); font-size: 0.875rem;}


/*
-----------------------
fooer
-----------------------
*/
.footer {background: var(--darkgray); color: var(--gray); font-size: .875rem; padding: 1.25rem 0 0;}
.footer .contact {border-bottom: 1px solid var(--gray);}
.footer .contact li {display: inline-block; padding: 0 1.25rem; margin-bottom: 1.25rem; border-right: 1px solid var(--gray);}
.footer .contact li:first-child{padding-left: 0;}
.footer .contact li:last-child{border-right: 0;}
.footer .address {padding: 1.25rem 0;}
.footer .address p {line-height: 1.5rem;}
.footer .policy {padding: 1.25rem 0 ;background: var(--dark);margin-top: 1.875rem;}
.footer .policy li {display: inline-block; padding-right: 3.75rem;}
.footer .policy li.color_red a{color: var(--red);}
.footer .policy a{color: #fff;}



/*
-----------------------
components
-----------------------
*/

h2 {font-size: 1.25rem;font-weight: bold;padding-bottom: 1.875rem;}
h3 {font-size: 1.125rem;font-weight: bold;padding: 3.75rem 0 1.25rem;}
p, li{line-height: 150%;}

/* breadcrumbs */
.breadcrumbs ul {margin: 1.875rem 0; display: flex; align-items: center}
.breadcrumbs ul li {padding: 0 1.25rem; color: var(--gray); position: relative;}
.breadcrumbs ul li:first-child {padding-left: 0}
.breadcrumbs ul li::after {font-family: "Font Awesome 5 Free";font-weight: 900; content: "\f054";position: absolute; right: 0px; top:50%;transform: translate(50%, -40%); font-size: 0.75rem}
.breadcrumbs ul li:last-child::after {display: none}

/* 인풋 */
input[type="submit"] {width: 100%;height: 3.5rem; border: 0; border-radius: 0.313rem; color: #fff; background: var(--primary);}
input[type="date"] {width: 100%; border:0; border-bottom: 1px solid var(--gray); padding: 0.313rem 0; border-radius: 3px;}
input[type="text"], input[type="password"] {width: 100%; border:1px solid var(--lightgray); padding: 0.625rem; border-radius: 3px; box-sizing: border-box;}
select {width: 100%;border:0; border-bottom: 1px solid var(--gray); padding: 0.313rem 0;}

/* 인풋 박스형태 */
.border_input input{border: 1px solid var(--lightgray); padding: 0.625rem;}
.border_input select{border: 1px solid var(--lightgray); padding: 0.625rem; border-radius: 3px;}
.border_input input[type="radio"]{font-weight: bold;visibility: hidden; display: none;}
.border_input label {padding: 0.625rem 0.938rem; display :block;float: left; width: 50%; display: inline-block; text-align: center; cursor: pointer; border: 1px solid var(--light); background: var(--secondary); box-sizing: border-box; border-radius: 3px;}
.border_input input:checked + label {background: var(--primary); color: #fff;}

/* 버튼 */
.btn_primary {width: 7.5rem;height: 3.5rem; border: 0; border-radius: 0.313rem; color: #fff; background: var(--primary);}
.btn_primary.light {background: var(--light); color: #000; }

/* 탭메뉴 */
.tab_menu input.tab_list {font-weight: bold;visibility: hidden; display: none;}
.tab_menu .tab_label {display :block;float: left; width: 50%; line-height: 2.813rem; display: inline-block; text-align: center; cursor: pointer; border: 1px solid var(--light); background: var(--secondary); box-sizing: border-box;}
.tab_menu > input:checked + label {background: #fff; border-bottom: 0; font-weight: bold; color: var(--primary); border-top: 3px solid var(--primary);z-index: 5;}
.tab_menu input#tab1:checked ~ .tab_contents #content1,
.tab_menu input#tab2:checked ~ .tab_contents #content2,
.tab_menu input#tab3:checked ~ .tab_contents #content3,
.tab_menu input#tab4:checked ~ .tab_contents #content4 { opacity: 1; z-index: 9; display: block;}
.tab_menu .tab_contents {position: relative;z-index: 4; width: 100%; clear: both; margin-top: 6.25rem;}
.tab_menu .tab_contents > form, .tab_menu .tab_contents > div {opacity: 0; position: relative; display: none;}

/* 슬라이더 */
.swiper {width: 100%; height: 100%;}
.swiper-wrapper {width: 100%; height: 100%;}
.swiper-wrapper .swiper-slide {width: 100%; height: 100%;}
.swiper-slide img {display: block; width:100%; height:100%; object-fit: cover;}
.swiper-pagination {left: 2rem;bottom: auto; width: auto; top:-0.75rem;}
.swiper-button-next,.swiper-button-prev  {color: #000;}
.swiper-button-prev::after, .swiper-button-next::after{font-size: 1.2rem;}

/* 테이블 */
.table {width: 100%; border-collapse: collapse;}
.table th, .table td {padding: 1.25rem;border-bottom: 1px solid var(--light); text-align: center;}
.table th {background: var(--secondary);}
.table.top_boder {border-top: 3px solid #000;}

/* 타이틀박스 */
.title_box {width:100%; background: var(--secondary); padding:3.75rem 1.875rem; box-sizing: border-box;}
.title_box_img {width: 100%; height: 14.375rem; overflow: hidden; margin: 1.25rem 0 3.75rem;}
.title_box_img img{object-fit: cover;}

/* 상세설명 리스트 */
.desc_list li {padding-left: 0.625rem; position: relative;}
.desc_list li::before {content: "·"; position: absolute; left: 0}

/* 선택리스트 */
.selectList {display: flex;}
.selectList li a{display: block;padding: 0.625rem 0; width: 7.5rem;text-align: center;; background: var(--secondary);}
.selectList li:first-child a{border-top-left-radius: 0.313rem; border-bottom-left-radius: 0.313rem;}
.selectList li:last-child a{border-top-right-radius: 0.313rem; border-bottom-right-radius: 0.313rem;}
.selectList li.active a{background: var(--primary); color: #fff;}


