<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="com.air.future.vo.Admin" alias="admin"/>
		<typeAlias type="com.air.future.vo.Airplane" alias="airplane"/>
		<typeAlias type="com.air.future.vo.Board" alias="board"/>
		<typeAlias type="com.air.future.vo.Customer" alias="customer"/>
		<typeAlias type="com.air.future.vo.Destination" alias="destination"/>
		<typeAlias type="com.air.future.vo.Grade" alias="grade"/>
		<typeAlias type="com.air.future.vo.Mail" alias="mail"/>
		<typeAlias type="com.air.future.vo.Post" alias="post"/>
		<typeAlias type="com.air.future.vo.Route" alias="route"/>
		<typeAlias type="com.air.future.vo.Reservation" alias="reservation"/>
		<typeAlias type="com.air.future.vo.Schedule" alias="schedule"/>
	</typeAliases>
	
	<mappers>
		<mapper resource="mapper/AdminMapper.xml"/>
		<mapper resource="mapper/AdminFlightMapper.xml"/>
		<mapper resource="mapper/AdminCustomerMapper.xml"/>
		<mapper resource="mapper/AdminBoardMapper.xml"/>
		<mapper resource="mapper/AdminMailMapper.xml"/>	
		
		<mapper resource="mapper/HomeControllerMapper.xml"/>
		<mapper resource="mapper/FlightMapper.xml"/>
		<mapper resource="mapper/ServiceMapper.xml"/>
	</mappers>
</configuration>