<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="com.air.future.vo.Admin" alias="admin"/>
		<typeAlias type="com.air.future.vo.Route" alias="route"/>
	</typeAliases>
	
	<mappers>
	<mapper resource="mapper/AdminMapper.xml"/>
	<mapper resource="mapper/AdminFlightMapper.xml"/>
	</mappers>
</configuration>