<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.air.future.dao.AdminMapper">
	
	<!-- 관리자로그인 -->
	<select id="selectAdmin" parameterType="string" resultType="admin">
		select * from admin_fa where admin_id = #{admin_id}
	</select>
	
</mapper>