<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.air.future.dao.FlightMapper">

	<select id="getFlightList" parameterType="HashMap" resultType="HashMap">
		select * from route_fa
		where to_char(departure_date, 'YYYY-MM-DD') = #{departure_date}
		and departure_name = #{departure_name}
		and arrival_name = #{arrival_name}
	</select>
	
	<select id="getFlight" parameterType="String" resultType="HashMap">
		select * from route_fa
		where route_num = #{route_num}
	</select>
	
	<select id="getWeekInfo" parameterType="HashMap" resultType="HashMap">
		select to_char(b.dt, 'YYYY-MM-DD') departure_date , nvl(min(a.normal_price), 0) normal_price from 
		    (select to_char(departure_date, 'YYYY-MM-DD') departure_date , min(normal_price) normal_price from route_fa
		    where to_char(departure_date, 'YYYY-MM-DD') >= to_char(to_date(#{pick_date}, 'YYYY-MM-DD') - 3, 'YYYY-MM-DD')
		    and to_char(departure_date, 'YYYY-MM-DD') <![CDATA[ < ]]>= to_char(to_date(#{pick_date}, 'YYYY-MM-DD') + 3, 'YYYY-MM-DD')
		    and departure_name = #{departure_name}
		    and arrival_name = #{arrival_name}
		    group by to_char(departure_date, 'YYYY-MM-DD')
		    order by departure_date) a,
		    (select to_date(#{pick_date} ,'YYYY-MM-DD') + level - 4  as dt
		    from dual 
		    connect by level <![CDATA[ < ]]>= (to_date(#{pick_date},'YYYY-MM-DD') - to_date(#{pick_date},'YYYY-MM-DD') + 7)) b
		where to_char(b.dt, 'YYYY-MM-DD') = a.departure_date(+)
		group by to_char(b.dt, 'YYYY-MM-DD')
		order by to_char(b.dt, 'YYYY-MM-DD')
	</select>
	
	
	<select id="getCustomerInfo" parameterType="String" resultType="customer">
		select * from customer_fa where customer_id = #{userId}
	</select>

</mapper>

